/* .keyboard {
  background-color: green;
  display: flex;
  justify-content: flex-start;
  position: relative;
  margin: auto;
  width: max-content;
  border: 3px solid blue;
  height: 450px;
  font-size: 0;
  outline: none;
  z-index: -1;
} */
